.gambar-pwisata img{
    width: 50%;
    height: 350px;
}
.container-pwisata{
    max-width: 100%;
}
.grid-runingpict{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
    color: white;
}
.grid-runingpict:focus{
    color: #5d0090;
}
.grid-runingpict:focus{
    color: #5d0090;
}
.grid-runingpict img{
    width: 100%;
    height: 300px;
}
.container-header{
    background-image: linear-gradient(to right, #5d0090, #f777bb);
    width: 100%;
}

.gambar-pwisata img{
    position: absolute;
    top: 250px;
    right: 50px;
}

.container-grid-detail{
    padding-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.grid-detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
}
.item img{
    max-width: 100%;
    height: 400px;
}

.details{
    display: grid;
    grid-template-columns: 1fr;
}
.caption {
    display: block;
    font-size: 20px;
    font-weight: bolder;
}