
.dropbtn {
    background-image: linear-gradient(to right, #5d0090, #f777bb);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-image: linear-gradient(to right, #5d0090, #f777bb);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content {
    right: 0;
  }
  .dropdown-content a:hover {background-image: linear-gradient(to right, #5d0090, #f777bb)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-image: linear-gradient(to right, #5d0090, #f777bb);
  }
.grid-transaport{
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
    padding-left: 10%;
    padding-right: 10%; 
}
.header-transport{
    width: 94%;
    margin-left: 3%;
    height: 40px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    font-family: arial;
    color:#5E5B5C;
}

thead th{
    text-align: left;
    padding: 10px;
}

tbody td{
    border-top: 1px solid #3399ff;
    padding: 10px;
}

tbody tr:nth-child(even){
    background: #F6F5FA;
}

tbody tr:hover{
    background: #b4b4bb
}
.Transport{
    text-align: center;
}
