.container-navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    padding-right: 40px;
  }
  
  li {
    float: right;
  }
  .btn-login{
    padding-top: 25px;
    margin-inline-end: 20;
  }
  li a {
    display: block;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-left: 16px;
    padding-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .icon-navbar{
    padding-left: 40px;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 20px;
  }
  li button{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    background-color:white;
    font-weight: bold;
    border-width: 2px;
    border-color: black;
    color: black;
  }
  .logo-navbar{
      float: left;
      padding-left: 50px;
  }
  .a :hover{
      color: black;
  }
  @media screen and (max-width:480px){
    li{
      float: right;
    }
    li button{
      width: 70px;
      height: 30px;
      border-radius: 6px;
      background-color:#3399ff;
      font-weight: bold;
      border-width: 2px;
      border-color: black;
      color: black;
    }

  }
