.form-input{
    background-image: linear-gradient(to right, #5d0090, #f777bb);
    width: 400px;
    position: absolute;
    top:200px;
    right: 40px;
    border-radius: 30px;
}
.wrapper-form img{
    width: 400px;
    padding-left: 20%;
}
.form-input input{
    width: 300px;
}

.wrapper-form{
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-tagline{
    position: absolute;
    top: 300px;
    left:20%;
    color: #5d0090;
    text-decoration: underline;
    font-size: larger;
}

.wrapper-form input{
    height: 30px;
    border-radius: 10px;
}
.wrapper-form button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
.informasi{
    display: grid;
    grid-template-columns: 2fr 1.2fr ;
    gap: 0.5rem;
}
.p-right{
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}
.p-left{
    text-align: right;
}
