.capion-reservasi{
    position: absolute;
    top:200px;
    z-index: 1;
    right: 50px;
    font-family: fantasy;
    color: #5d0090;
}
.capion-reservasi h1{
    background: -webkit-linear-gradient(30deg, #5d0090, #00BBFF);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 40px;
}
.grid-reservasi{
    position: absolute;
    width: 30%;
    top: 300px;
    background-image: linear-gradient(to right, #5d0090, #f777bb);
    right: 50px;
    border-radius: 30px;
    color: #5d0090,;
}
.item-select{
    margin: 20px;
}
.item-select select{
    width: 70%;
    height: 40px;
    color: #5d0090;
    border-radius: 10px;
    border: none;
}
.item-Input{
    margin: 20px;
    color: #5d0090;
}
.item-Input input{
    width: 68%;
    height: 30px;
    color: #5d0090;
    border-radius: 10px;
    border: none;
}
.item-date input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: #5d0090;;
    border: none;
    text-align: center;
}
.button-reservasi{
    margin: 30px;
}
.button-reservasi button{
    width: 140px;
    height: 40px;
    color: #5d0090;
    background-color: white;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
}
